<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FraudHacker</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin.css')}}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">FraudHacker</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Re-select Demographic</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="about">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">About FraudHacker</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="slides">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Slides</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Charts</li>
      </ol>
      <div class="row">
        <div class="col-lg-8">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
		    <i class="fa fa-bar-chart"></i> Anomalous Procedures by Provider ({{ specialty }} in {{ state }}) (<span style="color:#FF0000">Convicted of fraud</span>, <span style="color:#0000FF">status unknown</span>)</div>
            <div class="card-body">
              <canvas id="myBarChart" width="100" height="50"></canvas>
<div>Chart Data:
  <select id="chartData" name="Chart Data">
    <option value="outliers">Outliers</option>
    <option value="outlier_rate">Percentage of Outliers</option>
  </select>  
</div>
            </div>
          </div>
	  <div class="card mb-3">
		  <div class="card-header">
			  <i class="fa fa-bar-chart"></i> Cost to Medicare by Provider ($) ({{ specialty }} in {{ state }})</div>
	    		  <div class="card-body">
		              <canvas id="myCostChart" width="100" height="50"></canvas>
	                  </div>
	  </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/popper/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin.min.js')}}"></script>
    <!-- Custom scripts for this page-->
    <script>

    // Chart.js scripts
    // -- Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // What we need to make this somewhat easier is a dictionary from which to re-populate the chart data
    var datadict = {
	    outliers: {{ cts|safe }},
	    outlier_rate: {{ rate_cts|safe }}
    }
    var labeldict = {
	    outliers: {{ labels|safe }},
	    outlier_rate: {{ rate_labels|safe }}
    }
    var costdict = {
	    outliers: {{ costs|safe }},
	    outlier_rate: {{ rate_costs|safe }}
    }
    var colordict = {
	    outliers: {{ colorlist|safe }},
	    outlier_rate: {{ rate_colors|safe }}
    }

    // -- Bar Chart 
    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
      // type: 'bar',
      type: 'horizontalBar', 
      data: {
	      labels: {{ labels|safe}},
        datasets: [{
          label: "Anomalous Procedures",
          // backgroundColor: "rgba(2,117,216,1)",
	  backgroundColor: {{ colorlist|safe }},
          borderColor: "rgba(255,255,255,1)",
	  data: {{ cts|safe }}
        }],
      },
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'month'
            },
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 6,
	      fontSize: 15
            }
          }],
          yAxes: [{
            ticks: {
              min: 0,
              max: 15000,
	      fontSize: 15,
              maxTicksLimit: 5
            },
            gridLines: {
              display: false
            }
          }],
        },
        legend: {
          display: false
        }
      }
    });
    var chartData = document.getElementById('chartData');
    chartData.addEventListener( 'change', function(){
	selected = chartData.options[chartData.selectedIndex].value
	myLineChart.data.datasets[0].data = datadict[selected]
        myLineChart.data.labels =  labeldict[selected]
	myLineChart.data.backgroundColor = colordict[selected]
	myLineChart.update();
});
    var ctxCost = document.getElementById("myCostChart");
    var myCostChart = new Chart(ctxCost, {
	    type: 'horizontalBar',
	    data: {
		    labels: {{ labels|safe }},
		    datasets: [{
			    label: "Cost to Medicare",
			    backgroundColor: {{ colorlist|safe }},
			    data: {{ costs|safe }}
		    }],
	    },
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'month'
            },
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 6,
	      fontSize: 15
            }
          }],
          yAxes: [{
            ticks: {
              min: 0,
              max: 15000,
	      fontSize: 15,
              maxTicksLimit: 5
            },
            gridLines: {
              display: false
            }
          }],
        },
        legend: {
          display: false
        }
      }
    });
    chartData.addEventListener( 'change', function(){
	selected = chartData.options[chartData.selectedIndex].value;
	myLineChart.data.datasets[0].data = datadict[selected];
        myLineChart.data.labels =  labeldict[selected];
	myLineChart.data.backgroundColor = colordict[selected];
	myLineChart.update();
	myCostChart.data.datasets[0].data = costdict[selected];
	myCostChart.data.labels = labeldict[selected];
	myCostChart.data.backgroundColor = colordict[selected];
	myCostChart.update();
});
    </script>
  </div>
</body>

</html>
